<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type="text/css" href="gallery.css">
  <title>Destinations Gallery</title>
</head>

  <!--these fonts belong in the css for this page but I only get default fonts if they are there-->
<style> 
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
</style>

<body>
    <header>
      <!--logo from from fontawesome that I couldn't get working-->
      <li><i class="fas fa-map-marked-alt"></i></li>
      <h1><a href=index.html>TE Travel Experts</a></h1>
      <nav>
        <ul>
          <li><a href=index.html>Home</a></li>
          <li><a href=login.html>Login</a></li>
        </ul>
      </nav>
    </header>
<body>
  <main class="gallery">
      <!--a for-each loop diplaying the gallery images-->
      <script>

        const imgList = [1015,1018,1016,1043,1040,1038,100,101]; 

        let imgTemplate = ''; 

        const gallery = document.querySelector('.gallery'); 

        imgList.forEach(function(item){
          console.log(item);

          imgTemplate += `<img src="https://picsum.photos/id/${item}/250/250" alt="Random Lorem Picsum">`;
        });

        gallery.innerHTML = imgTemplate;
      </script>

      <footer> <p>&copy; Travel Experts 2020 Sean MacLennan CPRG210<p></footer>

  </main> 
</body>
  