
body {
  margin: 0;
  background-color: #9e5826;
  background-blend-mode: #1a94a0;
}

header {
  background-image: url(https://picsum.photos/id/397/500/500);
  background-size: cover;
  margin: 0;
  height: 75vh;
}

header h1 {
  font-family: 'Kaushan Script', cursive;
  
  color: white;
  line-height: 50px;
}

h1 a {
  line-height: 60px;
  text-decoration: none;
  color: #28789e;
  display: flex;
  margin: 0;
  justify-content: center;
  background-color: yellowgreen;
  font-family: 'Kaushan Script', cursive
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: center;
  background-color: grey
}

nav li {
  flex: auto;
}
  
p {
  font-family: 'Montserrat', sans-serif; 
}

nav a {
  font-family: 'Kaushan Script', cursive;
  padding: 0.75em 1em;
  display: block;

  background-color: blue;
  background-image: linear-gradient(lightgrey, grey);
  border: 1px solid black;

  color: white;
  text-decoration: none;
  text-align: center;
}

legend {
  font-family: 'Kaushan Script', cursive;
}

nav a:hover {
  background-image: linear-gradient(grey, lightgrey);
}

nav a:active {
  background-image: linear-gradient(#9e5826,lightgrey);
}

img {
  display: flex-wrap;
}

footer{
  font-family: 'Montserrat', sans-serif; 
}

/* flex positioning for my gallery elements*/

.container {
  position: relative;
  text-align: center;
  color: white;
  display: flex center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: white;
  
}

a:hover{
  color: blue;
}